<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>{{title}}</title>
		<link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
		<link rel="stylesheet" href="/stylesheets/font-awesome.min.css">
		<link rel="stylesheet" href="/stylesheets/style.css">
	</head>
		
	<body>
		{{>header}}
		<div class="container">
		{{{body}}}
		</div>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous">
		</script>
		<script>
			$('heart').on('click', function(){
				$('i').removeClass('fa-heart-o');
				$('this').addClass('fa-heart');
			});
		</script>
	</body>
</html>