<div class="container"><h1 style="text-align: center;">Posts</h1></div>

	{{#each posts}}
		<div class="thumbnail" > 
			<h2>{{title}}</h2>
			<img style="height:100px" src="{{imagen}}">
			<div class="caption">{{description}}</div>
		</div>
	{{/each}}





		




          